#loading {
    position: fixed;
    top: 0;
    bottom: 0;

    height: 100vh;
    width: 100vw;

    z-index: 100;
    opacity: 0;

    background-color: #212121;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: opacity 0.2s linear;
}

#loading.active {
    opacity: 1;
    z-index: 2000;
}

#loading img {
    height: 30vh;
    width: auto;
}

#loading span { /* "Powered by WMCS" text */
    position: absolute;
    bottom: 20px;
    color: gray;
}

/* Loading logo animation - we only need to animate while active */
#loading.active img {
    animation-name: tyLogo_pulse_animation;
    animation-duration: 3500ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1); /* big load small out */
}

@keyframes tyLogo_pulse_animation {
    0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

/* Page image backgrounds */
.full-page-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}